version: 2

updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 25
  rebase-strategy: "disabled"
  
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.Oslo"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.Extract"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.Legacy"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Projections.Syndication"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.Backoffice"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Consumer.*"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Projector"
  schedule:
    interval: weekly
  rebase-strategy: "disabled"
