version: 2

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.CrabImport"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.Extract"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Api.Legacy"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Projections.Syndication"
  schedule:
    interval: daily

- package-ecosystem: docker
  directory: "/src/BuildingRegistry.Projector"
  schedule:
    interval: daily