<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BuildingRegistry.Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BuildingRegistry.Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <connectionStrings>
    <add name="CRABEntities" connectionString="metadata=res://*/Entity.CRAB.csdl|res://*/Entity.CRAB.ssdl|res://*/Entity.CRAB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=agivsqlcrabbeta.vlm.be;initial catalog=CRAB;integrated security=True;MultipleActiveResultSets=True;App=Vbr.CrabRemoteRepo&quot;" providerName="System.Data.EntityClient"/>
    <add name="Crab2Vbr" connectionString="Data Source=n39ixojo3n.database.windows.net;Initial Catalog=VBR-betaDB;Persist Security Info=True;User ID=vbrmgmtsvcbeta;Password=c33dfe36-2334-4741-817e-f39ce731c38d;"/>
  </connectionStrings>
  <applicationSettings>
    <BuildingRegistry.Importer.Properties.Settings>
      <setting name="StartFromBegin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BatchSize" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="TimeMarginBeforeNowInSeconds" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="LogFileSizeLimitBytes" serializeAs="String">
        <value>104857600</value>
      </setting>
      <setting name="ImportEndpoint" serializeAs="String">
        <value>v1/crabimport</value>
      </setting>
      <setting name="HttpTimeoutInMinutes" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="NrOfProducers" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="NrOfConsumers" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BufferSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ImportAuthUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportAuthPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost:1094</value>
      </setting>
      <setting name="ImportBatchStatusEndpoint" serializeAs="String">
        <value>v1/crabimport/batch/current</value>
      </setting>
    </BuildingRegistry.Importer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BuildingRegistry.Importer.Properties.Settings>
      <setting name="LastRunDate" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDateRecovery" serializeAs="String">
        <value />
      </setting>
    </BuildingRegistry.Importer.Properties.Settings>
  </userSettings>
</configuration>
